[submodule "cachefilesd"]
	path = cachefilesd
	url = https://aur.archlinux.org/cachefilesd.git
[submodule "cudnn"]
	path = cudnn
	url = https://aur.archlinux.org/cudnn.git
[submodule "cnmem"]
	path = cnmem
	url = https://aur.archlinux.org/cnmem.git
[submodule "autodock-vina"]
	path = autodock-vina
	url = https://aur.archlinux.org/autodock-vina.git
[submodule "direnv"]
	path = direnv
	url = https://aur.archlinux.org/direnv.git
[submodule "nkf"]
	path = nkf
	url = https://aur.archlinux.org/nkf.git
[submodule "jupyterhub"]
	path = jupyterhub
	url = https://aur.archlinux.org/jupyterhub.git
[submodule "q"]
	path = q
	url = https://aur.archlinux.org/q.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://aur.archlinux.org/tensorflow.git
[submodule "python-alembic"]
	path = python-alembic
	url = https://aur.archlinux.org/python-alembic.git
[submodule "python-pamela"]
	path = python-pamela
	url = https://aur.archlinux.org/python-pamela.git
[submodule "nodejs-configurable-http-proxy"]
	path = nodejs-configurable-http-proxy
	url = https://aur.archlinux.org/nodejs-configurable-http-proxy.git
[submodule "python-editor"]
	path = python-editor
	url = https://aur.archlinux.org/python-editor.git
[submodule "bazel"]
	path = bazel
	url = https://aur.archlinux.org/bazel.git
[submodule "intel-parallel-studio-xe"]
	path = intel-parallel-studio-xe
	url = https://aur.archlinux.org/intel-parallel-studio-xe.git
[submodule "influxdb"]
	path = influxdb
	url = https://aur.archlinux.org/influxdb.git
[submodule "telegraf"]
	path = telegraf
	url = https://aur.archlinux.org/telegraf.git
